.dice-black, .dice-white{
  display: flex;
  justify-content: space-around;
  align-content: center;
  z-index: 100;
  line-height: 50px;
  font-size: 25px;
  font-weight: bold;
}

 .dice-white {
  color: white;
  grid-column: 2 / 8;
  grid-row: 6 / 7;   
  transform: rotate(180deg);                     
 }
.dice-black {
  color: black;
  grid-column: 9 / 15;
  grid-row: 6 / 7;
}

.dice-black .dice {
  background-color: rgb(44,44,44);
}
.dice-black .dice:after {
  background-color: rgb(240,240,240);
}

.dice{
  width: 50px;
  height: 50px;
  position: relative;
  padding-left:1em;
  background-color: white;
  border-radius:5px;
}
.dice.rotate {
  transform: rotate(90deg);
}
.dice:after{
  position: absolute;
  background-color: black;
  height: 100%; 
  width: 100%; 
  left: 0px;
  top: 0;
  content:"";
  mask-size:cover;        
  mask-repeat: no-repeat;
}
.dice-1:after{
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 80 80'%3E%3Ccircle cx='40' cy='40' r='8' /%3E%3C/svg%3E");
}
.dice-2:after{
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 80 80'%3E%3Ccircle cx='18' cy='18' r='8' /%3E%3Ccircle cx='62' cy='62' r='8' /%3E%3C/svg%3E");
}
.dice-3:after{
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 80 80'%3E%3Ccircle cx='18' cy='18' r='8' /%3E%3Ccircle cx='40' cy='40' r='8' /%3E%3Ccircle cx='62' cy='62' r='8' /%3E%3C/svg%3E");
}
.dice-4:after{
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 80 80'%3E%3Ccircle cx='18' cy='18' r='8' /%3E%3Ccircle cx='62' cy='18' r='8' /%3E%3Ccircle cx='18' cy='62' r='8' /%3E%3Ccircle cx='62' cy='62' r='8' /%3E%3C/svg%3E");
}
.dice-5:after{
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 80 80'%3E%3Ccircle cx='18' cy='18' r='8' /%3E%3Ccircle cx='62' cy='18' r='8' /%3E%3Ccircle cx='18' cy='62' r='8' /%3E%3Ccircle cx='62' cy='62' r='8' /%3E%3Ccircle cx='40' cy='40' r='8' /%3E%3C/svg%3E");
}
.dice-6:after{
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 80 80'%3E%3Ccircle cx='18' cy='18' r='8' /%3E%3Ccircle fill='red' cx='40' cy='18' r='8' /%3E%3Ccircle class='dice-dot' cx='62' cy='18' r='8' /%3E%3Ccircle class='dice-dot' cx='18' cy='62' r='8' /%3E%3Ccircle class='dice-dot' cx='40' cy='62' r='8' /%3E%3Ccircle class='dice-dot' cx='62' cy='62' r='8' /%3E%3C/svg%3E");
}
