.token {
  background: rgb(245,245,245);
  align-self: center;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  position: relative; 
  border-radius: 50px;
  border: 4px solid rgba(220,220,220,0.9);
}
.token.black {
  background: rgb(25,25,25);
  border-color: rgb(74,74,74);
}
.token.selected {
  background: white;
  border: 4px solid rgba(220,220,220,0.9); 
  margin: 15px 0 15px 0;
}
.token.black.selected {
  border: 4px solid rgba(74,74,74, 0.9); 
  background: black;
}
.token.destination, .token.black.destination {
  opacity: 0.7;
}